/* NESTING SUPERIORITY */
/* (it's not superior) */

nav#main-nav {
    position: fixed;
    width: 100%;

    /* animation: show 1s ease-in forwards 1s; */
    /* z-index: 5; */

    /* mix-blend-mode: difference;  */
    /* ^^^ robi bardzo fajny efekt ale wymiotuje jak na to patrzę...*/



    >ul#nav-bar {
        display: flex;
        list-style: none;
        padding: 0;
        
        >li { /* :not(:has(.icon)) */
            text-align: center;
            flex-grow: 1    ;
            height: calc(4vh + .5rem);
            
            position: relative;
            transition: 300ms ease-in;
            &:has(.icon) { /* Ale zaawansowane */
                flex-grow: .1;
                
            }
            &:hover {
                background-color: #fff6;
                /* flex-grow: 1.1; niby fajne ale niezabardzo */
            }
            &:active {
                background-color: #fff9;
            }
            &::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 0;
                top: calc(100% - 3px);
                background-color: #fff;
                transition: .3s ease-out;
                left: 0;
            }
            &:hover::after {
                content: '';
                position: absolute;
                height: 3px;
                width: 100%;
                top: calc(100% - 3px);
            }
            >a {
                display: block;
                /* color: #111; */
                /* background-color: red; */
                text-decoration: none;
                height: 100%;
                /* width: 100%; */
            }
        }
    }
}

/* footer nav styles */

footer#main-footer {
    padding: 4rem 0;
}
footer#main-footer > ul {
    display: flex;
    padding: 0;
    list-style: none;
}

footer#main-footer > ul > li {
    flex: 1;
    text-align: center;
}
footer#main-footer > ul > li > nav {
    height: 100%;
}
footer#main-footer > ul > li > nav > ul {
    display: flex;
    height: 100%;
    
    list-style: none;
    padding: 0;
}
footer#main-footer > ul > li > nav > ul > li {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}
footer#main-footer > ul > li > nav > ul > li > a {
    /* display: block; */
    width: 100%;
}

.media {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}
.media > div {
    display: flex;
    align-items: center;
}

.media > div > a {
    display: flex;
    gap: .5rem;
}

/* footer#main-footer > ul > li:has(img) {
    flex-grow: .1;
} */
