:root {
  /* --bg-clr-1: #ee70ff;
  --bg-clr-1: #147560;
  --bg-clr-2: #111;
  --bg-clr-3: #e0dddd;

  --color-1: #333;
  --color-2: #ddd;

  --scroll-clr: #6b02a8; */

  --clr-bg: #dddddd;
  --clr-text: #111111;
  --clr-primary: #4f148a;
  --clr-secondary: #ff0088;
  --clr-accent: #8a32e2;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  font-weight: 600;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Inter;
  color: var(--clr-text);
  /* background: var(--clr-bg); */
}

section {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-bg);
  /* box-shadow: 0 1rem 1rem -.5rem var(--clr-text); */
  /* margin-bottom: 1rem; */
}

nav {
  /* animation: appear 1s ease forwards 2000ms; */
}

.icon.large {
  height: 8vh;
}

.icon.medium {
  height: 4vh;
}

.icon.small {
  height: 2vh;
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

::-webkit-scrollbar {
  /* Bedzie kiedys o tym na lekcji? */
  width: 0;
}

#scroll-progress {
  position: fixed;
  top: 100%;
  transform: translate(0, -50%);
  height: 10px;
  width: 100%;
}

.current-scroll {
  height: 100%;
  width: calc(var(--scroll) * 100%);
  background: var(--scroll-clr);

  background-blend-mode: multiply;
}

#down-arrow {
  opacity: 0;
  pointer-events: none;

  transform: translate(0, -20vh);
  /* animation: arrow-appear 1s ease forwards 13s; */
  animation: appear 1s ease forwards 2000ms;

  transition: 300ms ease-out;
  &:hover {
    scale: 1.15;
  }
  &:active {
    scale: 0.95;

    transition: 300ms ease;
  }
}

#down-arrow img {
  width: 3vw;
  aspect-ratio: 1;
  opacity: 0.9;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
    transform: translate(0, 0);
    pointer-events: all;
  }
}
