:root {
  --bg-clr-1: #ee70ff;
  --bg-clr-2: #111;
  --bg-clr-3: #e0dddd;

  --color-1: #333;
  --color-2: #ddd;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  font-weight: 600;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Inter;
}


section {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background-color: #f08;
}
/* 
@keyframes show-line {
  to {
    stroke-dashoffset: 0;
  }
} */

nav {
  background-color: var(--bg-clr-1) !important;
}

#s1 {
  background-color: var(--bg-clr-1);
}
#s2 {
  background-color: var(--bg-clr-2);
  color: var(--color-2);
}
#s3 {
  background-color: var(--bg-clr-3);
}
#s4 {
  background-color: var(--bg-clr-1);
}
#s5 {
  background-color: var(--bg-clr-3);
}
#s6 {
  background-color: var(--bg-clr-2);
  color: var(--color-2);
}

::-webkit-scrollbar { /* Bedzie kiedys o tym na lekcji? */
  width: 0;
} 

#scroll-progress {
  position: fixed;
  top: calc(100% - 10px);
  transform: translate(0, -50%);
  height: 10px;
  width: 100%;

  box-shadow: 0 -0.1rem 0.25rem #0008;
}

.current-scroll {
  height: 100%;
  width: 100%;

  background-image: linear-gradient(
    90deg,
    var(--bg-1-clr),
    var(--bg-2-clr),
    var(--bg-3-clr),
    var(--bg-4-clr),
    var(--bg-5-clr)
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  background-blend-mode: multiply;
}

#down-arrow {
  opacity: 0;
  pointer-events: none;

  transform: translate(0, -20vh);
  /* animation: arrow-appear 1s ease forwards 13s; */
  animation: arrow-appear 1s ease forwards 4200ms;

  transition: 300ms ease-out;
  &:hover {
    scale: 1.15;
  }
  &:active {
    scale: 0.95;

    transition: 300ms ease;
  }
}

#down-arrow img {
  width: 3vw;
  aspect-ratio: 1;
  opacity: 0.9;
}

@keyframes arrow-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
    transform: translate(0, 0);
    pointer-events: all;
  }
}
