#main-title {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;

  font-size: 10rem;
  font-family: monospace;
  text-shadow: 0 0 .5rem currentColor; /* I ♥ currentColor */
  transform-style: preserve-3d;
  font-weight: 100;

}
#main-title > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-title > div > span {
  width: 1ch;
  display: inline-block; /* Ta linijka mnie tyle nerwów kosztowała TYLE NERWÓW */


  color: #111;

  opacity: 0;
}

@keyframes rotate-letter {
  from {
    opacity: 0;
    transform: translateY(10rem) rotateX(-180deg);
  }
  to {
    opacity: 1; 
    transform: rotateY(0deg) rotateX(0deg);
    scale: 1;
  }

}
